{
  "printWidth": 80,
  "proseWrap": "always",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
